/*Variables*/

$green :#27AD60;
$blue: #2C3E50;
$dark-orange: #CA7428;
$light-orange: #E67E22;
$grey: #b1b2b3;

/*Mixins*/

@mixin uppercase {
    text-transform: uppercase;
    font-size: 6.3rem;
    font-weight: 400;
}

@mixin padding-margin-ib {
    padding: 0 5% 9%;
    margin-right: -5px;
    display: inline-block;
}

@mixin padding {
    padding: 70px 0;
}

@mixin hr {
    width: 220px;
    border-top: 1px solid #dfdfdf;
}

@mixin btn {
    background-color: #443E44;
    color: #fff;
}

/*utilities*/

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.inline-b {
    display: inline-block;
}

/*Header*/

header {
    background-color: $green;
    padding: 30px;
}

nav {
    ul {
        margin-top: 10px;
        font-weight: normal;
    }
}

ul {
    a {
        padding-right: 15px;
        color: #a5e7c0;
    }
}

/*Banner*/

#banner {
    background-image: url("../img/carousel-bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
}

#banner {
    h1 {
        @include uppercase;
    }

    p {
        font-size: 2.8rem;
        font-weight: 300;
    }
}

/*Color Palette*/

#color-palette {
    padding-top: 50px;
}

#color-palette {
    h2 {
        @include uppercase;
    }

    hr {
        @include hr;
        border-top: 1px solid #000 !important;
        margin-bottom: 60px;
    }
}

.color-box {
    margin-bottom: 10px;
    width: 100%;
}

.common-color-box {
    @include padding-margin-ib;
}

.color-box {
    .color1 {
        background-color: #69D2E7;
    }

    .color2 {
        background-color: #A7DBDB;
    }

    .color3 {
        background-color: #E0E4CC;
    }

    .color4 {
        background-color: #F38630;
    }

    .color5 {
        background-color: #FA6900;
    }

    .color6 {
        background-color: #E94C6F;
    }

    .color7 {
        background-color: #542733;
        color: #fff;
    }

    .color8 {
        background-color: #5A6A62;
    }

    .color9 {
        background-color: #C6D5CD;
    }

    .color10 {
        background-color: #FDF200;
    }

    .color11 {
        background-color: #DB3340;
    }

    .color12 {
        background-color: #E8B71A;
    }

    .color13 {
        background-color: #F7EAC8;
    }

    .color14 {
        background-color: #1FDA9A;
    }

    .color15 {
        background-color: #28ABE3;
    }

    .color16 {
        background-color: #588C73;
    }

    .color17 {
        background-color: #F2E394;
    }

    .color18 {
        background-color: #F2AE72;
    }

    .color19 {
        background-color: #D96459;
    }

    .color20 {
        background-color: #8C4646;
    }

    .color21 {
        background-color: #D0C91F;
    }

    .color22 {
        background-color: #85C4B9;
    }

    .color23 {
        background-color: #008BBA;
    }

    .color24 {
        background-color: #DF514C;
    }

    .color25 {
        background-color: #DC403B;
    }

}

h2 {
    @include uppercase;
}

hr {
    @include hr;
}

.descrip {
    color: #dadada;
    font-weight: 300;
}

/*About Us*/

#about-us {
    background-color: $blue;
    @include padding;
}

#about-us {
    .row {
        margin-top: 70px;
    }

    p {
        font-size: 1.7rem;
        font-weight: 300;
    }

    img {
        width: 100%;
    }

    .progress-box {
        margin-top: 100px;
    }

    .progress {
        height: 12px;
        border-radius: 0px;
        background-color: #DCD5D5;
        margin-bottom: 5px;
    }

    .progress-bar {
        background-color: $light-orange;
        border: 2px solid #DCD5D5;
    }
}

.progress-box {
    p {
        margin-bottom: 20px;
    }
}

/*Wwhat we do*/

#what-we-do {
    background-color: $green;
    @include padding;
}

.btn {
    @include btn;
}

#what-we-do {
    .row {
        margin-top: 100px;
    }

    h3 {
        margin: 30px 0;
    }

    .hire-btn {
        text-transform: uppercase;
        margin-top: 70px;
        font-size: 1.6rem;
    }
}

.services-box {
    p {
        width: 65%;
        margin: auto;
        color: $grey;
        font-weight: 300;
    }
}

/*Team*/

#team {
    background-color: $green;
    @include padding;
}

#team {
    .row {
        margin-top: 100px;
    }

    img {
        margin: auto;
    }

    h4 {
        margin: 25px auto;
        font-size: 2.3rem;
        font-weight: 300;
    }

    .charge-box {
        color: $grey;
        width: 73%;
        font-weight: 300;
        padding: 30px 0;
        margin: auto;
        border-top: 1px dotted rgb(145, 145, 145);
    }

    i {
        color: $grey;
        font-size: 2rem;
        margin-right: 10px;
    }
}

/*Price*/

#price {
    background-color: $blue;
    @include padding;
    .row {
        margin-top: 100px;
    }
}

.boton-div {
    margin-top: 50px;
}

.precio-box {
    border: 1px solid $green;
    font-weight: 300;
    padding-bottom: 50px;
    .main-text {
        font-size: 2rem;
        padding: 15px;
    }
    .precio {
        background-color: $green;
        margin-bottom: -10px;
        padding: 15px;
        .numero {
            font-size: 4rem;
        }
    }
    .brown {
        background-color: #8F5F38;
    }

    .white {
        background-color: #fff;
    }
}

/*Clients*/

#clients {
    background-color: $blue;
    @include padding;
}

.client-box {
    margin-top: 70px;
}

.client-box {
    .client-text {
        color: #dadada;
        font-weight: 300;
        font-size: 1.8rem;
        width: 60%;
        margin: auto;
    }

    .orange-text {
        color: $light-orange;
        font-size: 1.8rem;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 50px;
    }
}

/*Get In touch*/

#touch {
    background-color: $blue;
    @include padding;
}

.submit-btn {
    background-color: #443E44;
    border: none;
    color: #fff;
    margin-bottom: 10px;
    width: 80px !important;
    padding: 10px 20px;
}

#touch {
    form {
        margin: 50px auto;
        width: 70%;
    }

    input {
        width: 100%;
        margin-bottom: 15px;
        padding: 10px;
    }

    textarea {
        width: 100%;
        height: 200px;
        margin-bottom: 15px;
        padding: 10px;
    }
}

form {
    p {
        font-weight: 300;
    }
}

/* Social */

#social {
    background-image: url(../img/img-divider-img.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: repeat;
    padding: 15% 0;
    i {
        font-size: 10rem;
        color: #fff;
        margin-right: 20px;
    }
}

/* footer */

footer {
    background: $green;
    padding: 10px;
}

.rights {
    text-align: left;
    width: 100%;
    margin-top: 50px;
}

footer {
    h5 {
        font-size: 2rem;
        font-weight: 300;
    }

    hr {
        width: 100px;
    }

    p {
        font-weight: 300;
        width: 200px;
        margin: auto;
        line-height: 30px;
        padding-left: 20px;
    }

    form {
       position: relative;
       width: 100%;
       input {
           padding-left: 8px;
           margin-bottom: 20px;
       }

       button {
           background-color: #443E44;
           border: 1px solid #443E44;
       }

       i {
           color: $light-orange;
       }
   }
}

.boton {
    background-color: #443E44;
    font-weight: 300;
    padding: 10px;
}
