/*Variables*/
/*Mixins*/
/*utilities*/
.float-right {
  float: right; }

.float-left {
  float: left; }

.text-white {
  color: #fff; }

.text-black {
  color: #000; }

.inline-b {
  display: inline-block; }

/*Header*/
header {
  background-color: #27AD60;
  padding: 30px; }

nav ul {
  margin-top: 10px;
  font-weight: normal; }

ul a {
  padding-right: 15px;
  color: #a5e7c0; }

/*Banner*/
#banner {
  background-image: url("../img/carousel-bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px; }

#banner h1 {
  text-transform: uppercase;
  font-size: 6.3rem;
  font-weight: 400; }
#banner p {
  font-size: 2.8rem;
  font-weight: 300; }

/*Color Palette*/
#color-palette {
  padding-top: 50px; }

#color-palette h2 {
  text-transform: uppercase;
  font-size: 6.3rem;
  font-weight: 400; }
#color-palette hr {
  width: 220px;
  border-top: 1px solid #dfdfdf;
  border-top: 1px solid #000 !important;
  margin-bottom: 60px; }

.color-box {
  margin-bottom: 10px;
  width: 100%; }

.common-color-box {
  padding: 0 5% 9%;
  margin-right: -5px;
  display: inline-block; }

.color-box .color1 {
  background-color: #69D2E7; }
.color-box .color2 {
  background-color: #A7DBDB; }
.color-box .color3 {
  background-color: #E0E4CC; }
.color-box .color4 {
  background-color: #F38630; }
.color-box .color5 {
  background-color: #FA6900; }
.color-box .color6 {
  background-color: #E94C6F; }
.color-box .color7 {
  background-color: #542733;
  color: #fff; }
.color-box .color8 {
  background-color: #5A6A62; }
.color-box .color9 {
  background-color: #C6D5CD; }
.color-box .color10 {
  background-color: #FDF200; }
.color-box .color11 {
  background-color: #DB3340; }
.color-box .color12 {
  background-color: #E8B71A; }
.color-box .color13 {
  background-color: #F7EAC8; }
.color-box .color14 {
  background-color: #1FDA9A; }
.color-box .color15 {
  background-color: #28ABE3; }
.color-box .color16 {
  background-color: #588C73; }
.color-box .color17 {
  background-color: #F2E394; }
.color-box .color18 {
  background-color: #F2AE72; }
.color-box .color19 {
  background-color: #D96459; }
.color-box .color20 {
  background-color: #8C4646; }
.color-box .color21 {
  background-color: #D0C91F; }
.color-box .color22 {
  background-color: #85C4B9; }
.color-box .color23 {
  background-color: #008BBA; }
.color-box .color24 {
  background-color: #DF514C; }
.color-box .color25 {
  background-color: #DC403B; }

h2 {
  text-transform: uppercase;
  font-size: 6.3rem;
  font-weight: 400; }

hr {
  width: 220px;
  border-top: 1px solid #dfdfdf; }

.descrip {
  color: #dadada;
  font-weight: 300; }

/*About Us*/
#about-us {
  background-color: #2C3E50;
  padding: 70px 0; }

#about-us .row {
  margin-top: 70px; }
#about-us p {
  font-size: 1.7rem;
  font-weight: 300; }
#about-us img {
  width: 100%; }
#about-us .progress-box {
  margin-top: 100px; }
#about-us .progress {
  height: 12px;
  border-radius: 0px;
  background-color: #DCD5D5;
  margin-bottom: 5px; }
#about-us .progress-bar {
  background-color: #E67E22;
  border: 2px solid #DCD5D5; }

.progress-box p {
  margin-bottom: 20px; }

/*Wwhat we do*/
#what-we-do {
  background-color: #27AD60;
  padding: 70px 0; }

.btn {
  background-color: #443E44;
  color: #fff; }

#what-we-do .row {
  margin-top: 100px; }
#what-we-do h3 {
  margin: 30px 0; }
#what-we-do .hire-btn {
  text-transform: uppercase;
  margin-top: 70px;
  font-size: 1.6rem; }

.services-box p {
  width: 65%;
  margin: auto;
  color: #b1b2b3;
  font-weight: 300; }

/*Team*/
#team {
  background-color: #27AD60;
  padding: 70px 0; }

#team .row {
  margin-top: 100px; }
#team img {
  margin: auto; }
#team h4 {
  margin: 25px auto;
  font-size: 2.3rem;
  font-weight: 300; }
#team .charge-box {
  color: #b1b2b3;
  width: 73%;
  font-weight: 300;
  padding: 30px 0;
  margin: auto;
  border-top: 1px dotted #919191; }
#team i {
  color: #b1b2b3;
  font-size: 2rem;
  margin-right: 10px; }

/*Price*/
#price {
  background-color: #2C3E50;
  padding: 70px 0; }
  #price .row {
    margin-top: 100px; }

.boton-div {
  margin-top: 50px; }

.precio-box {
  border: 1px solid #27AD60;
  font-weight: 300;
  padding-bottom: 50px; }
  .precio-box .main-text {
    font-size: 2rem;
    padding: 15px; }
  .precio-box .precio {
    background-color: #27AD60;
    margin-bottom: -10px;
    padding: 15px; }
    .precio-box .precio .numero {
      font-size: 4rem; }
  .precio-box .brown {
    background-color: #8F5F38; }
  .precio-box .white {
    background-color: #fff; }

/*Clients*/
#clients {
  background-color: #2C3E50;
  padding: 70px 0; }

.client-box {
  margin-top: 70px; }

.client-box .client-text {
  color: #dadada;
  font-weight: 300;
  font-size: 1.8rem;
  width: 60%;
  margin: auto; }
.client-box .orange-text {
  color: #E67E22;
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 50px; }

/*Get In touch*/
#touch {
  background-color: #2C3E50;
  padding: 70px 0; }

.submit-btn {
  background-color: #443E44;
  border: none;
  color: #fff;
  margin-bottom: 10px;
  width: 80px !important;
  padding: 10px 20px; }

#touch form {
  margin: 50px auto;
  width: 70%; }
#touch input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px; }
#touch textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  padding: 10px; }

form p {
  font-weight: 300; }

/* Social */
#social {
  background-image: url(../img/img-divider-img.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: repeat;
  padding: 15% 0; }
  #social i {
    font-size: 10rem;
    color: #fff;
    margin-right: 20px; }

/* footer */
footer {
  background: #27AD60;
  padding: 10px; }

.rights {
  text-align: left;
  width: 100%;
  margin-top: 50px; }

footer h5 {
  font-size: 2rem;
  font-weight: 300; }
footer hr {
  width: 100px; }
footer p {
  font-weight: 300;
  width: 200px;
  margin: auto;
  line-height: 30px;
  padding-left: 20px; }
footer form {
  position: relative;
  width: 100%; }
  footer form input {
    padding-left: 8px;
    margin-bottom: 20px; }
  footer form button {
    background-color: #443E44;
    border: 1px solid #443E44; }
  footer form i {
    color: #E67E22; }

.boton {
  background-color: #443E44;
  font-weight: 300;
  padding: 10px; }

/*# sourceMappingURL=main.css.map */
